<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IotDsl -->
      <package
            uri="http://www.unamur.be/iot/IoTDSL"
            class="be.unamur.iot.iotdsl.IotdslPackage"
            genModel="model/IotDsl.genmodel"/>
   </extension>

</plugin>
