<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IoTDevice -->
      <package
            uri="https://www.unamur.be/IoTDevice"
            class="IoTDevice.IoTDevicePackage"
            genModel="model/IoTDevice.genmodel"/>
   </extension>

</plugin>
