<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="be.unamur.iotdevice.xdsml.IoTDevice" xdsmlFilePath="/be.unamur.iotdevice.xdsml/src/be/unamur/iotdevice/xdsml/IoTDevice.melange" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="be.unamur.iotdevice.xdsml.IoTDeviceMT" uri="http://iotdevicemt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="be.unamur.iotdevice.xdsml.IoTDeviceMT" id="be.unamur.iotdevice.xdsml.IoTDevice" uri="https://www.unamur.be/IoTDevice">
      <adapter class="be.unamur.iotdevice.xdsml.iotdevice.adapters.iotdevicemt.IoTDeviceAdapter" modeltypeId="be.unamur.iotdevice.xdsml.IoTDeviceMT" />
    </language>
  </extension>
</plugin>
